{{define "cabecera"}}

<!doctype html>
<html lang="en">
  <head>
    <title>Gaming Center</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/Imagenes/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Gaming Center</h1>
          <p class="lead">Tienda de Juegos, cositas gamer, etc</p>
          <hr class="my-2">
        </div>
      </div>

      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="/empresa">Empresa <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tienda</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/carrito">Carrito</a>
                          <a class="dropdown-item" href="/galeria">Galeria</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/contacto">Contacto</a>
                  </li>
              </ul>
            <a class="navbar-brand" href="/pagar" style="right: auto;">Pagar mi carrito</a>       
          </div>
      </nav>  
{{end}}