{{define "carrito"}}
{{template "cabecera"}}




<script>
    export default{
        data() {
            return {
                
            }
        },
    }
</script>

{{template "pie"}}
{{end}}