{{define "empresa"}}
{{template "cabecera"}}
        <br/>
        <br/>
        <h2>Acerca de Nosotros</h2>
        <br/>
        <p>"Gaming Center" es nuestra tienda online donde encontrarás la mayor variedad de productos como videojuegos,
        consolas, mandos, tarjetas de regalo y accesorios para que puedas disfrutar de un buen momento mientras juegas.
        Nos esforzamos a diario para que nuestra tienda crezca de manera profesional y pueda llegar a más países.
        Nuestra misión es facilitar una increíble selección de juegos a cada gamer, de la manera más segura, confiable y más barata posible.</p>
{{template "pie"}}
{{end}}