{{define "galeria"}}
{{template "cabecera"}}

        <br/>
        <h2>Galeria</h2>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/gears5.jpg" alt="Gears 5" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Juegos Xbox One</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/thelastofus.jpg" alt="The Last Of Us" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Juegos Playstation 4</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/mariokart8.jpg" alt="Mario Kart 8" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Juegos Nintendo Switch</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/xboxone.jpg" alt="Xbox One" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Consolas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/mandoxbox.jpg" alt="Mando Xbox One" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Mandos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/tarjetaregalo.jpg" alt="Tarjeta de Regalo Xbox Live" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Tarjetas de Regalo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/auriculares.jpg" alt="Auriculares" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Auriculares</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/kitscarga.jpg" alt="Kits de Carga" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Kits de Carga</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/Imagenes/visoresVR.jpg" alt="Visores VR" style="width:80%; display: block; margin-left: auto; margin-right: auto">
                    <div class="caption">
                        <p align="center">Visores VR</p>
                    </div>
                </div>
            </div>
        </div>
        
{{template "pie"}}
{{end}}