{{define "galeria"}}
{{template "cabecera"}}
        <br/>
        <br/>
        <h2>Galeria</h2>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../Imagenes/gears5.jpg" alt="Gears 5" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../Imagenes/thelastofus.jpg" alt="The Last Of Us" style="width:100%">
                    <!--<div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../Imagenes/mariokart8.jpg" alt="Mario Kart 8" style="width:100%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../Imagenes/mandoxbox.jpg" alt="Mando Xbox One" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../Imagenes/tarjetaregalo.jpg" alt="Tarjeta de Regalo Xbox Live" style="width:100%">
                    <!--<div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../Imagenes/xboxone.jpg" alt="Xbox One" style="width:100%">
                </div>
            </div>
        </div>

{{template "pie"}}
{{end}}